#header{
    color: #2c3342;
    background-color: antiquewhite;
    box-shadow: 0vw 0.1vw 1vw rgba(0, 0, 0, 0.6), 0vw 0.8vw turquoise, 0vw 0.9vw 1vw rgba(0, 0, 0, 0.6),
    0vw 1.5vw paleturquoise, 0vw 1.6vw 1.6vw rgba(0, 0, 0, 0.6)
}

#selected {
    border-bottom: 0.3em lightseagreen dotted;
    color: lightseagreen;
}
footer{
    background-color: lightseagreen;
    color: floralwhite;

}
a{
    color: #2c3342;
}

.linkHeader:hover {
    border-bottom: 0.3em #2c3342 dotted;
}

#phraseHeader{
    background-color: lightseagreen;
    color:floralwhite;
}

#header h1{
    color: lightseagreen;
}

.button:hover {
    background-color: paleturquoise;
    color: #2c3342;
    box-shadow: 0vw 1.3vw 1.4vw -1vw rgba(0, 0, 0, 0.6);
}


#altro:focus{
    outline: none;
    border-color: lightseagreen;
    color: lightseagreen;
}


.warn{
    height: 1vw;
    width: 15vw;
    color: paleturquoise;
}


#altroDiv{
    background-color: floralwhite;
    border: dotted paleturquoise;
    border-width: 0vw 0vw 0vw 1vw;
    box-shadow: -1.2vw 1.2vw paleturquoise, -1.4vw 1.4vw 2vw rgba(0,0,0,0.6);

}


#data, #divContGrafico{
    border: dotted paleturquoise;
    box-shadow: -1.2vw 1.2vw paleturquoise, -1.4vw 1.4vw 2vw rgba(0,0,0,0.6);

    border-width: 0vw 0vw 0vw 1vw;

}

#areaP{
    background-color: turquoise;
}
#areaP .textbox{
    background-color: turquoise;
}

#data ~ .button{
    border-color: turquoise;
}

#areaP .column .button{
    border-color: turquoise;

}

#contatti{
    background-color: lightsalmon;

}

#contatti .textbox{
    background-color: lightsalmon;
}

#contatti .button{
    border-color: lightsalmon;
}