.flex-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 4vw 11vw 2vw 11vw;
    padding: 3vw 6vw 0 6vw;
    border: dotted antiquewhite;
    border-width: 1vw 0vw 1vw 0vw;
    box-shadow: -2vw 0vw 1vw -1vw grey;

}

/* colori delle varie pagine*/
#contatti{
    background-color: lightsalmon;

}

#signin{
    background-color: mediumturquoise;

}

#login{
    background-color: lightgreen;
}

.row{
    display: flex;
    flex-flow: row wrap-reverse;
    gap: 3vw;
    justify-content: space-between;
    padding: 2vw 0 2vw 0;
}

.column{
    display: flex;
    flex-flow: column wrap;

}

#altroDiv{
    gap: 2vw;
    padding: 2vw 3vw 2vw 3vw;
    width:50vw;
    height:25vw;
    margin: 2vw 0 3vw 0;
    align-items: center;
    background-color: floralwhite;
    border: dotted mediumpurple;
    border-width: 0vw 0vw 0vw 1vw;
    box-shadow: -1.2vw 1.2vw mediumpurple, -1.4vw 1.4vw 2vw rgba(0,0,0,0.6);
    transform: rotate(2.5deg);

}

.warn{
    height: 1vw;
    width: 15vw;
    color: mediumpurple;
}

input.textbox{
    width: 30vw;

}

#buttons{
    align-content: center;
    justify-content: center;
    margin-bottom: 1vw;
}

form+.button{
    margin-bottom:2vw;
}

#contatti .textbox{
    background-color: lightsalmon;
}

#contatti .button{
    border-color: lightsalmon;
}

#signin .textbox{
    background-color: mediumturquoise;

}
#signin .button{
    border-color: mediumturquoise;
}

#login .textbox{
    background-color: lightgreen;
}

#login .button{
    border-color: lightgreen;
}

#altro{
    padding: 2vw;
    margin-top:1vw;
    border: dotted #2c3342;
    width:40vw;
    border-radius: 1vw;
    background-color: floralwhite;
    color: #2c3342;
    font-size: 1em;
    text-align: center;

}

#altro:focus{
    outline: none;
    border-color: mediumpurple;
    color: mediumpurple;
}