.flex-container {
    display: flex;
    flex-flow: column wrap;
    gap: 1vw;
}

#container-main{
    padding: 1vw 20vw 1vw 35vw;
}

.flex-container .row{
    justify-content: space-between;
    width: 30vw;

}

.row{
    display: flex;
    flex-flow: row wrap-reverse;
    gap: 0.1vh;
}

.warn{
    height: 2vw;
    width: 15vw;
}

input.textbox{
    width: 15vw;
}
.label{
    font-weight: bold;
}