body {
    font-family: "Roboto Mono";
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: #2c3342;
    font-size: 1.2em;
    font-weight: bold;
}

.button {
    text-decoration: none;
    padding: 1.4vw 1vw 1.4vw 1vw;
    font-family: "Major Mono Display";
    cursor: pointer;
    text-align: center;
    font-weight: bold ;
    background-color: #2c3342;
    color: floralwhite;
    border: antiquewhite dotted;
    border-width:  0.7vw 0;
    width: fit-content;
}

.button:hover{
    background-color: salmon;
}

.divBottoni{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1.5vw;
    margin: auto;
    padding: 10px;
}
.textbox {
    max-lines: 1;
    text-align: center;
    height: 2vw;
    font-size: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ---------- CSS HEADER ------ */

#header, #header div{
    display: flex;
}

#header{
    position: sticky;
    z-index: 999;
    top:0;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap:1.7vw;
    width:98vw;
    padding: 1vw;
    height: 9vw;
    background-color: #2c3342;
    box-shadow: 0vw 1vw lightseagreen, 0vw 1.2vw 1.2vw rgba(0,0,0,0.6), 0vw 2vw mediumpurple,
    0vw 2.2vw 2.2vw rgba(0,0,0,0.6),0vw 3vw lightcoral, 0vw 3.2vw 3.2vw rgba(0,0,0,0.6);
    margin-bottom: 3vw;
    color: floralwhite;

}

#header div{
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#header h1, a{
    font-family: "Major Mono Display";
}

#header h1{
    font-size: 2.5em;
}

#header a{
    text-decoration: none;
    color: floralwhite;
    font-weight: bold;


}

/*--CSS FOOTER--*/


#footer{
    color: floralwhite;
    background-color: #2c3342;
    margin-top: 2vw;
    padding:1vw;
    box-shadow: 0 -0.1vw 0.1vw grey;
}