body {
    background-color: #faf3e1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2{
    margin: 10px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p{
    margin: 10px;
    text-align: justify;
}

.button {
    border:2px solid #bbbbbb;
    border-radius: 2px;
    text-decoration: none;
    background-color: #faf3e1;
    height: 50px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    text-align: center;
    font-weight: bold ;
}

.divBottoni{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1.5vw;
    margin: auto;
    padding: 10px;
}

#header{
    background-color: #4287f5;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer{
    background-color: #faf3e1;
    border-top-style: groove;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: auto;
}

.imageStandard{
    max-width: 60%;
    height: auto;
}

.textbox {
    max-lines: 1;
    text-align: center;
    height: 2vw;
    font-size: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a{
    color:black;
}